@media (min-width: 1200px) {
    .col-lg-1-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

:root {
    --vermelho: #6f1d1b;
    --amarelo: #dda15e;
    --marrom: #432818;
    --branco: #ffe6a7;
    --cinza: #4a4f4f;
}

body {
    background-color: var(--branco);
}

nav, footer, .nav-link {
    background-color: var(--marrom);
    color: var(--branco);
}

h1 {
    color: var(--marrom);
}

.card {
    background-color: var(--marrom);
    color: var(--branco);
}

button.btn.btn-primary {
    background-color: var(--amarelo);
    border: 1px solid var(--amarelo);
    color: #000000;
}

button.btn.btn-primary:hover {
    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
    color: #000000;
}

button.btn.btn-primary:active {
    background-color: var(--amarelo);
    border: 1px solid var(--amarelo);
    color: #000000;
}

#carouselElenco .card {
    height: 447px
}

#carouselElenco img {
    height: 357px
}

.custom-tooltip {
  --bs-tooltip-bg: var(--marrom);
  --bs-tooltip-color: var(--branco);
}

.text-light {
    color: var(--branco);
}

